<form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
	<mat-grid-list cols="2" rowHeight="50px">
		<mat-grid-tile>
			<h1 style="position: absolute; left: 5px" *ngIf="!data.created_by" mat-dialog-title>Add new source</h1>
			<h1 style="position: absolute; left: 5px" *ngIf="data.created_by" mat-dialog-title>Edit source</h1>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-dialog-actions style="justify-content: flex-end;">
				<button mat-button type="Submit"
						[disabled]="!controlForm.valid || (this.allTags.length === 0)">Submit
				</button>
				<button mat-button (click)="onNoClick()" type="button">Cancel</button>
			</mat-dialog-actions>
		</mat-grid-tile>
	</mat-grid-list>

	<div mat-dialog-content class="form-group">
		<div *ngFor="let column of dataColumn" class="form-group">
			<div
				*ngIf="(column!=='tags') && (column!=='project') && (column!=='state') && (column !== 'publisher') && (column!=='author') && (column!=='type') && (column!=='dateOfIssue')">
				<mat-form-field style="width: 75%; " appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<label>
<textarea matInput cdkTextareaAutosize="true"
		  style="box-sizing: content-box"
		  cdkAutosizeMinRows="2"
		  cdkAutosizeMaxRows="10" [formControlName]="column"></textarea>
					</label>
				</mat-form-field>
			</div>
			<div *ngIf="column==='dateOfIssue'">
				<mat-form-field style="width: 75%; " appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<label>
<textarea matInput cdkTextareaAutosize="true"
		  style="box-sizing: content-box"
		  cdkAutosizeMinRows="2"
		  cdkAutosizeMaxRows="10" [formControlName]="column"></textarea>
					</label>
				</mat-form-field>
			</div>
			<div *ngIf="column==='state'">
				<mat-form-field style="width: 75%;" appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<mat-select formControlName="state">
						<mat-option *ngFor="let state of states" [value]="state">
							{{state}}
						</mat-option>

					</mat-select>
				</mat-form-field>
			</div>

			<div *ngIf="column==='project'">
				<mat-form-field style="width: 75%;" appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<mat-select formControlName="project"
								[compareWith]="CompareProject">
						<mat-select-filter  placeholder="Search" [array]="allProjects"
										   [color]="'#efefef'"
										   (filteredReturn)="filteredProjects = $event"></mat-select-filter>
						<mat-option *ngFor="let project of filteredProjects" [value]="project">
							{{project.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div *ngIf="column==='type'">
				<mat-form-field style="width: 75%;" appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<mat-select formControlName="type"
								[compareWith]="CompareProject">
						<mat-option *ngFor="let type of types" [value]="type">
							{{type}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div *ngIf="column==='publisher'">
				<mat-form-field style="width: 75%; " appearance="outline" formGroupName="publisher">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<input matInput #pubInput [matAutocomplete]="auto"
						   (focusout)="publisherCreate($event.target.value)" formControlName="name">
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="publisherSelected($event)">
						<mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
							{{option.name}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

			<div *ngIf="column==='author'">
				<mat-form-field style="width: 75%; " appearance="outline" formGroupName="authorId">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<input matInput #authorInput [matAutocomplete]="auto"
						   (focusout)="authorCreate($event.target.value)" formControlName="name">
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="authorSelected($event)">
						<mat-option *ngFor="let option of filteredAuthors | async" [value]="option.name">
							{{option.name}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

			<div *ngIf="column==='tags'">
				<mat-form-field class="example-chip-list" style="width: 75%;" appearance="outline">
					<mat-label>{{newDataColumn[dataColumn.indexOf(column)]}}</mat-label>
					<mat-chip-list #chipList aria-label="Tag selection">
						<mat-chip
							*ngFor="let tag of allTags"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="remove(tag);chipListChecker()">
							{{tag.name}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input matInput
                               #tagInput
							   [formControl]="tagCtrl"
							   [matAutocomplete]="autos"
							   [matChipInputFor]="chipList"
							   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							   [matChipInputAddOnBlur]="addOnBlur"
							   (focusout)="chipListChecker()"
							   (keyup.enter)="add($event.target);tagInput.value=''"
							   (keyup.,)="add($event.target);tagInput.value=''"
							   (keyup.;)="add($event.target);tagInput.value=''">
						<mat-autocomplete #autos="matAutocomplete" (optionSelected)="tagSelected($event)">
							<mat-option *ngFor="let option of filteredTagOptions | async" [value]="option">
								{{option}}
							</mat-option>
						</mat-autocomplete>
						<button mat-button *ngIf="tagInput.value || allTags.length>0" matSuffix mat-icon-button
								aria-label="Clear"
								(click)="allTags=[];tagInput.value='';chipListChecker()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-chip-list>
				</mat-form-field>
			</div>
		</div>
	</div>
</form>


