tr.example-element-row:not(.example-expanded-row):hover {
	background: #c4c4c4;
}
table {
	width: 100%;
	table-layout: fixed;
}
th, td {
	overflow: hidden;
	width: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mat-column-actions {
	//word-wrap: break-word;
	//white-space: unset;
	//flex: 0 0 10%;
	width: 10%;
	//overflow-wrap: break-word;
	//word-wrap: break-word;
	//
	//word-break: break-word;
	//
	//-ms-hyphens: auto;
	//-moz-hyphens: auto;
	//-webkit-hyphens: auto;
	//hyphens: auto;
}
.mat-column-select {
	width: 75px;
}
tr.example-detail-row {
	height: 0;
}
tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}
.example-element-row td {
	border-bottom-width: 0;
}
.example-element-detail {
	overflow: hidden;
	display: flex;
}
.example-element-diagram {
	min-width: 100px;
	border: 2px solid #181818;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: auto;
}
.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}
.example-element-description {
	padding: 16px;
}
.example-element-description-attribution {
	opacity: 0.5;
}
.example-chip-list {
	width: 100%;
}

.mac-column-actions{
	width: 200px;
}
#edit{
	margin-left: 10px;
}
#delete{
	margin-left: 15px;
}

