form{
	width: 100%;
}
.other{
	width: 100%;
	min-width: 100%;
}

textarea{
	width: 100%;
	//font-size: 14px;
}
textarea.mat-input-element.cdk-textarea-autosize {
	box-sizing: content-box;
}
.detail{
	width: 33%;
	//font-size: 14px;
}
.pages{
	width: 25%;
	//font-size: 14px;
}

hr{
	width: 100%;
}

input{
	width: 100%;
	//font-size: 14px;
}
