<h1>{{element.name}}</h1>
<form>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Alapprobléma</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10" [readonly]="true">{{element.base_problem}}</textarea>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Motiváció</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10"
				  readonly="true">{{element.motivation}}</textarea>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Metódus</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10"
				  [readonly]="true">{{element.method}}</textarea>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Eredmény</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10"
				  [readonly]="true">{{element.result}}</textarea>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Összegzés</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10"
				  [readonly]="true">{{element.summary}}</textarea>
	</mat-form-field>
	<hr>
	<hr>
	<mat-form-field class="pages" appearance="outline">
		<mat-label>Oldalszámok</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.page_from}} - {{element.page_from}}">
		</label>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Projekt neve</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.project.name}}">
		</label>
	</mat-form-field>
	<br>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Projektleírás</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10"
				  [readonly]="true">{{element.project.description}}</textarea>
	</mat-form-field>
	<hr>
	<br>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Város neve</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.project.cityId.name}}">
		</label>
	</mat-form-field>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Szerző</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.publisher.name}}">
		</label>
	</mat-form-field>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Kiadó</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.authorId.name}}">
		</label>
	</mat-form-field>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Kiadás éve</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.dateOfIssue}}">
		</label>
	</mat-form-field>
</form>

