<a href="" style="color: unset"><h1 style="margin-top: 15px; margin-left: 20px; color: inherit">DocLib</h1></a>
<!-- BEGIN: Horizontal Menu -->
<!--<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>-->
<!--<div ktOffcanvas [options]="offcanvasOptions" class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">-->
<!--	<div ktMenu [options]="menuOptions" id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile" [ngClass]="htmlClassService.getClasses('header_menu', true)">-->
<!--		<ul class="kt-menu__nav" [ngClass]="htmlClassService.getClasses('header_menu_nav', true)">-->
<!--			<ng-container *ngFor="let item of menuHorService.menuList$ | async">-->
<!--				<ng-container *ngIf="item.title" [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-container>-->
<!--			</ng-container>-->
<!--		</ul>-->
<!--	</div>-->
<!--</div>-->
<!-- END: Horizontal Menu -->


<!--<ng-template #menuTemplate let-item="item" let-parentItem="parentItem">-->
<!--	<li [attr.aria-haspopup]="true"-->
<!--		[attr.data-ktmenu-submenu-toggle]="getItemAttrSubmenuToggle(item)"-->
<!--		(mouseleave)="mouseLeave($event)"-->
<!--		(mouseenter)="mouseEnter($event)"-->
<!--		[ngClass]="getItemCssClasses(item)">-->

<!--		&lt;!&ndash; if item has submenu &ndash;&gt;-->
<!--		<ng-container *ngIf="item.submenu">-->
<!--			<a href="javascript:;" [ngClass]="{ 'kt-menu__toggle': item.root }" class="kt-menu__link">-->

<!--				<ng-container [ngTemplateOutlet]="menuItemInnerTemplate" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>-->

<!--				<ng-container *ngIf="rootArrowEnabled">-->
<!--					&lt;!&ndash; arrow icons &ndash;&gt;-->
<!--					<i *ngIf="item.submenu && item.root" class="kt-menu__hor-arrow la la-angle-down"></i>-->
<!--					<i *ngIf="item.submenu && item.root" class="kt-menu__ver-arrow la la-angle-right"></i>-->
<!--				</ng-container>-->
<!--				&lt;!&ndash; else arrow icons &ndash;&gt;-->
<!--				<i *ngIf="item.submenu && !item.root" class="kt-menu__hor-arrow la la-angle-right"></i>-->
<!--				<i *ngIf="item.submenu && !item.root" class="kt-menu__ver-arrow la la-angle-right"></i>-->
<!--			</a>-->
<!--		</ng-container>-->

<!--		&lt;!&ndash; if item hasn't sumbenu &ndash;&gt;-->
<!--		<ng-container *ngIf="!item.submenu">-->
<!--			<a [routerLink]="item.page" [ngClass]="{ 'kt-menu__toggle': item.root }" class="kt-menu__link">-->
<!--				<ng-container [ngTemplateOutlet]="menuItemInnerTemplate" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>-->
<!--			</a>-->
<!--		</ng-container>-->

<!--		&lt;!&ndash; if menu item has submenu child then recursively call new menu item component &ndash;&gt;-->
<!--		<ng-container *ngIf="item.submenu">-->
<!--			<div class="kt-menu__submenu" [ngClass]="getItemMenuSubmenuClass(item)" [ngStyle]="{ 'width': item.submenu.width }">-->
<!--				<span class="kt-menu__arrow" [ngClass]="{ 'kt-menu__arrow&#45;&#45;adjust': item.root }"></span>-->

<!--				<ul *ngIf="item.submenu?.length" class="kt-menu__subnav">-->
<!--					<ng-container *ngFor="let child of item.submenu">-->
<!--						<ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{ item: child, parentItem: item }">-->
<!--						</ng-container>-->
<!--					</ng-container>-->
<!--				</ul>-->

<!--				<ul *ngIf="item.submenu.items?.length" class="kt-menu__subnav">-->
<!--					<ng-container *ngFor="let child of item.submenu.items">-->
<!--						<ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{ item: child, parentItem: item }">-->
<!--						</ng-container>-->
<!--					</ng-container>-->
<!--				</ul>-->

<!--				<div *ngIf="item.submenu.type === 'mega' && item.submenu.columns?.length" class="kt-menu__subnav">-->
<!--					<ul class="kt-menu__content">-->
<!--						<ng-container *ngFor="let child of item.submenu.columns">-->
<!--							<ng-container [ngTemplateOutlet]="menuColumnTemplate" [ngTemplateOutletContext]="{ item: child }"></ng-container>-->
<!--						</ng-container>-->
<!--					</ul>-->
<!--				</div>-->

<!--			</div>-->
<!--		</ng-container>-->
<!--	</li>-->
<!--</ng-template>-->

<!-- item inner -->
<!--<ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">-->
<!--	&lt;!&ndash; if menu item has icon &ndash;&gt;-->
<!--	<i *ngIf="item.icon" class="kt-menu__link-icon" [ngClass]="item.icon"></i>-->

<!--	<ng-container *ngIf="!item.icon">-->
<!--		&lt;!&ndash; if menu item using bullet &ndash;&gt;-->
<!--		<i *ngIf="parentItem && parentItem.bullet === 'dot' || item.bullet === 'dot'" class="kt-menu__link-bullet kt-menu__link-bullet&#45;&#45;dot">-->
<!--			<span></span>-->
<!--		</i>-->
<!--		<i *ngIf="parentItem && parentItem.bullet === 'line' || item.bullet === 'line'" class="kt-menu__link-bullet kt-menu__link-bullet&#45;&#45;line">-->
<!--			<span></span>-->
<!--		</i>-->
<!--	</ng-container>-->

<!--	<ng-container *ngIf="!item.badge; else menuLinkBadge">-->
<!--		<span class="kt-menu__item-here"></span>-->
<!--		&lt;!&ndash; menu item title text &ndash;&gt;-->
<!--		<span class="kt-menu__link-text" [translate]="item.translate">-->
<!--			{{item.title}}-->
<!--		</span>-->
<!--	</ng-container>-->

<!--	<ng-template #menuLinkBadge>-->
<!--		&lt;!&ndash; menu item with badge &ndash;&gt;-->
<!--		<span class="kt-menu__link-text" [translate]="item.translate">{{item.title}}</span>-->
<!--		<span class="kt-menu__link-badge">-->
<!--			<span class="kt-badge kt-badge&#45;&#45;brand kt-badge&#45;&#45;inline kt-badge&#45;&#45;pill" [ngClass]="item.badge.type" [translate]="item.badge.translate">{{item.badge.value}}</span>-->
<!--		</span>-->
<!--	</ng-template>-->
<!--</ng-template>-->

<!--&lt;!&ndash; item column &ndash;&gt;-->
<!--<ng-template #menuColumnTemplate let-item="item">-->
<!--	<li class="kt-menu__item">-->
<!--		<h3 class="kt-menu__heading kt-menu__toggle">-->
<!--			<span class="kt-menu__link-text" [translate]="item.heading.translate">-->
<!--				{{item.heading.title}}-->
<!--			</span>-->
<!--			<i class="kt-menu__ver-arrow la la-angle-right"></i>-->
<!--		</h3>-->
<!--		<ng-container *ngIf="item.items?.length">-->
<!--			<ul class="kt-menu__inner">-->
<!--				<ng-container *ngFor="let child of item.items">-->
<!--					<ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{ item: child, parentItem: item }">-->
<!--					</ng-container>-->
<!--				</ng-container>-->
<!--			</ul>-->
<!--		</ng-container>-->
<!--	</li>-->
<!--</ng-template>-->
