<div class="example-element-description">
	<h1>Értékelések</h1>
	<div *ngFor="let rate of ratings">
		<div *ngIf="element.id === rate.sourceId.id">
			<div>Értékelő: {{rate.user_id.name}}</div>
			<div>Értékelő elérhetősége: {{rate.user_id.email}}</div>
			<div>Értékelés:
				<ngb-rating readonly="true" [(rate)]="rate.rating"></ngb-rating>
			</div>
			<div>Comment: {{rate.comment}}</div>
			<div>Létrejött: {{rate.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
			<div>Utoljára módosítva: {{rate.modifiedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
			<hr>
		</div>
	</div>
</div>
<mat-paginator showFirstLastButtons></mat-paginator>
