.example-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: available;
}
.mat-table {
	overflow: auto;
	max-height: available;
}
.mat-header-cell.mat-sort-header-sorted {
	color: black;
}
table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
	height: 135px;
}

.example-element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 120px;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}
