<div class="mat-elevation-z8">
	<mat-form-field class="example-chip-list">
		<mat-chip-list #chipList aria-label="Tag selection">
			<mat-chip
				*ngFor="let tag of tags"
				[selectable]="selectable"
				[removable]="removable"
				(removed)="remove(tag)">
				{{tag}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<label for="input"></label>
			<input matInput
				   id="input"
				   placeholder="Filter"
                   #tagInput
				   [formControl]="tagCtrl"
				   [matAutocomplete]="auto"
				   [matChipInputFor]="chipList"
				   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				   [matChipInputAddOnBlur]="addOnBlur"
				   (keyup)="applyFilter($event.target.value)"
				   (keyup.enter)="add($event)">
			<button mat-button *ngIf="tagInput.value" matSuffix mat-icon-button aria-label="Clear"
					(click)="filterValue='';tagInput.value=''; tags=[]; applyFilter('')">
				<mat-icon>close</mat-icon>
			</button>
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			<mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
				{{tag}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<table mat-table
		   [dataSource]="dataSource" multiTemplateDataRows matSort
		   class="mat-elevation-z8">

		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
			<div *ngIf="column === 'select'">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
								  [checked]="selection.hasValue() && isAllSelected()"
								  [indeterminate]="selection.hasValue() && !isAllSelected()"
								  [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()"
								  (change)="$event ? selection.toggle(row) : null;"
								  [checked]="selection.isSelected(row)"
								  [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</div>
			<div *ngIf="column === 'delete'">
				<th mat-header-cell *matHeaderCellDef>
					<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearAll()">
						<mat-icon>delete</mat-icon>
					</button>
				</th>
				<td mat-cell *matCellDef="let row">
					<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="actRow(row)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</div>
			<th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>

		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
				<div class="example-element-detail"
					 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<div class="example-element-diagram">
						<div class="example-element-position"> {{element.position}} </div>
						<div class="example-element-symbol"> {{element.symbol}} </div>
						<div class="example-element-name"> {{element.name}} </div>
						<div class="example-element-weight"> {{element.weight}} </div>
					</div>
					<div class="example-element-description">
						{{element.description}}
						<span class="example-element-description-attribution"> -- Wikipedia </span>
					</div>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns;"
			class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element;">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
			(click)="selection.toggle(row);"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 1, 10, 20]" (page)="$event ? pageChange() : null" showFirstLastButtons>
	</mat-paginator>
</div>
