<div>
	<div>
		<div>
			<mat-form-field appearance="outline">
				<mat-label>E-mail address</mat-label>
				<input matInput type="text">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput type="password">
			</mat-form-field>
		</div>
	</div>
	<button type="button" [hidden]="hiddenSignIn" (click)="Social()" mat-flat-button color="primary">Sign In With Facebook</button>
	<!--	<div><code>observable|async</code>: Time: {{ loggedIn | async }}</div>-->
	<button type="button"  [hidden]="hiddenSignOut" (click)="Signout()" mat-flat-button color="primary">Sign Out</button>
	<div class="left" style="margin-top: 15px">
		<button type="button" style="background-color:white; border-color:black; border-style:solid;" class="btn" (click)="googleRegistration()">
			<span><img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /></span>
			<span style="margin-left:5px; margin-right:5px;border-left:1px solid #000;"></span><span>Sign in with Google</span>
		</button>
	</div>


</div>
<!--<div *ngIf="loggedIn===true">-->
<!--	<button type="button" (click)="Signout()" mat-flat-button color="primary">Log out of Facebook</button>-->
<!--</div>-->
