table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: rgba(0, 55, 255, 0.51);
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	min-width: 100px;
	border: 2px solid #181818;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 125px;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}

.example-chip-list {
	width: 100%;
}
