<div class="mat-elevation-z8">
	<div style="float: right">
		<label>Add New Country</label>
		<button mat-button matSuffix mat-icon-button aria-label="New" (click)="openDialog(null)">
			<mat-icon>add_box</mat-icon>
		</button>
	</div>
	<mat-form-field class="example-chip-list" appearance="outline">
		<mat-label>Filter</mat-label>
		<mat-chip-list #chipList aria-label="Tag selection">
			<mat-chip
				*ngFor="let tag of filters"
				[selectable]="selectable"
				[removable]="removable"
				(removed)="remove(tag)">
				{{tag}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<label for="input"></label>
			<input matInput
				   id="input"
                   #tagInput
				   [formControl]="tagCtrl"
				   [matAutocomplete]="auto"
				   [matChipInputFor]="chipList"
				   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				   [matChipInputAddOnBlur]="addOnBlur"
				   (keyup)="applyFilter($event.target.value)"
				   (keyup.enter)="add($event.target);applyFilter('');tagInput.value=''"
				   (keyup.,)="add($event.target);applyFilter('');tagInput.value=''"
				   (keyup.;)="add($event.target);applyFilter('');tagInput.value=''">
			<button mat-button *ngIf="tagInput.value || filters.length>0" matSuffix mat-icon-button aria-label="Clear"
					(click)="filters=[];tagInput.value=''; applyFilter('')">
				<mat-icon>close</mat-icon>
			</button>
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			<mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
				{{tag}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<table mat-table
		   [dataSource]="dataSource" multiTemplateDataRows (matSortChange)="sortData($event)" matSort
		   class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
			<div *ngIf="column === 'select'">
				<th mat-header-cell *matHeaderCellDef>
<!--					<mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--								  [checked]="selection.hasValue() && isAllSelected()"-->
<!--								  [indeterminate]="!selection.isEmpty() && !isAllSelected()"-->
<!--								  [aria-label]="checkboxLabel()"-->
<!--								  [disabled]="!keycloak.getUserRoles().includes('admin')">-->
<!--					</mat-checkbox>-->
				</th>
				<td mat-cell *matCellDef="let row">
<!--					<mat-checkbox (click)="$event.stopPropagation()"-->
<!--								  (change)="$event ? selection.toggle(row) : null;"-->
<!--								  [checked]="selection.isSelected(row)"-->
<!--								  [aria-label]="checkboxLabel(row)"-->
<!--								  [disabled]="(!keycloak.getUserRoles().includes('admin') ||-->
<!--								   ids[dataSource.data.indexOf(row)]>0)">-->
<!--					</mat-checkbox>-->
				</td>
			</div>
			<div *ngIf="column==='actions'">
				<th mat-header-cell *matHeaderCellDef>
					Szerkesztés
<!--					<button mat-button matSuffix mat-icon-button aria-label="Clear"-->
<!--							[disabled]="!keycloak.getUserRoles().includes('admin')"-->
<!--							(click)="clearAll()">-->
<!--						<mat-icon>delete_sweep</mat-icon>-->
<!--					</button>-->
				</th>
				<td mat-cell *matCellDef="let row">
<!--					<button id="edit" mat-button matSuffix mat-icon-button aria-label="Edit"-->
<!--							[disabled]="(!keycloak.getUserRoles().includes('admin'))"-->
<!--							(click)="$event.stopPropagation();openDialog(row)">-->
<!--						<mat-icon>edit</mat-icon>-->
<!--					</button>-->

<!--					<button id="delete" mat-button matSuffix mat-icon-button aria-label="Clear"-->
<!--							[disabled]="(!keycloak.getUserRoles().includes('admin') && ids[dataSource.data.indexOf(row)]>0)"-->
<!--							(click)="actRow(row); $event.stopPropagation()">-->
<!--						<mat-icon>delete</mat-icon>-->
<!--					</button>-->
				</td>
			</div>

			<th mat-header-cell *matHeaderCellDef
				mat-sort-header> {{newColumns[displayedColumns.indexOf(column)]}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>

		</ng-container>
		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
				<div class="example-element-detail"
					 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<div class="example-element-description">
						<div style="width: 100%">Ország név: {{element["name"]}}</div>
						<hr style="width: 100%">
					</div>
					<div class="example-element-description">
						<div style="width: 100%">Ország kód: {{element["code"]}}</div>
						<hr>
					</div>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns;"
			class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element;">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
			(click)="selection.toggle(row);"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="$event ? pageChange() : null;" showFirstLastButtons>
	</mat-paginator>
</div>

