<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Notifications -->
	z
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile [greeting]="false"></kt-user-profile>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
