<h1>{{element.name}}</h1>
<form>
	<mat-form-field class="other" appearance="outline">
		<mat-label>Projektleírás:</mat-label>
		<textarea matInput cdkTextareaAutosize="true"
				  cdkAutosizeMaxRows="10" [readonly]="true">{{element.description}}</textarea>
	</mat-form-field>
	<br>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Város:</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.cityId.name}}">
		</label>
	</mat-form-field>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Ország</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.cityId.countryId.name}}">
		</label>
	</mat-form-field>
	<mat-form-field class="detail" appearance="outline">
		<mat-label>Ország kód</mat-label>
		<label>
			<input matInput [readonly]="true" value="{{element.cityId.countryId.code}}">
		</label>
	</mat-form-field>
</form>

