.user_info{
	font-size: 20px;
}

.external-connect-title{
	align-content: center;
	align-items: center;
	font-size: 25px;
}

img.icon-image {
	width: 75px;
	height: 75px;
	margin: 5px;
}

.social-option {
	margin: 10px;
	padding: 15px;
	background: rgba(105, 105, 105, 0.51);
	height: 200px;
}

.social-connected-string {
	color: #000028;
	font-size: 15px;
	margin: 5px;
}

.social-email {
	color: #000028;
	font-size: 15px;
	margin: 5px;
}
