<div>
	<div class="row">
		<div class="col-sm-6" style="background-color: rgba(10,187,135,0.33)">
			<div class="user_info">
				Display name: {{DisplayName}}
			</div>
			<div class="user_info">
				E-mail {{Email}}
			</div>
		</div>
		<div class="col-sm-6" style="background-color: rgba(0,163,238,0.34)">
			<div class="external-connect-title d-flex justify-content-center">
				Social Networks
			</div>
			<div class="row">
				<div *ngFor="let social of socials" class="col-sm-6">
					<div class="social-option">
						<div class="row  d-flex justify-content-center">
							<div class="col-sm-6 d-flex justify-content-center">
								<img class="icon-image" src='{{social.icon}}'/>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<div class="col-sm-6 d-flex justify-content-center">
								<div *ngIf="social.connected" class="social-email">
									{{social.email}}
								</div>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<div *ngIf="!social.connected; else disconnectDiv" class="social-connected-string">
								<button mat-button (click)="connect(social.type)">Connect</button>
							</div>
							<ng-template #disconnectDiv>
								<div class="social-connected-string">
									<button mat-button (click)="disconnect(social)">Disconnect</button>
								</div>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
