<div *ngIf="loggedIn===true">
	<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
		<!-- <div ngbDropdownToggle class="kt-header__topbar-wrapper">-->
		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}" (click)="login()">
		<span class="kt-header__topbar-username kt-hidden-mobile"
			  *ngIf="greeting">{{user.name}}</span>
			<avatar [letter]="userInitials" [displayType]="'square'" size="40"></avatar>
		</div>
		<button *ngIf="loggedIn===false" type="button" (click)="login()" mat-flat-button color="primary">Sign In With Facebook</button>
		<button *ngIf="loggedIn===true" type="button" (click)="login()" mat-flat-button color="primary">Sign Out From Facebook</button>

		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}">
			<button mat-icon-button
					(click)="logout()">
				<mat-icon>exit_to_app</mat-icon>
			</button>
			<!-- </div>-->
		</div>
	</div>
</div>
