<form [formGroup]="sourceFormGroup" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<div mat-dialog-content *ngFor="let column of this.inputOptions">
<!--			<mat-form-field  appearance="outline">-->
			<mat-form-field appearance="outline">
				<mat-label>{{column}}</mat-label>
				<input
					matInput
					formControlName="{{column}}"
				>
			</mat-form-field>
		</div>
		<mat-form-field appearance="outline">
			<mat-label>State</mat-label>
			<mat-select
				formControlName="state"
			>
				<mat-option *ngFor="let state of states" [value]="state">
					{{state}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<mat-form-field formGroupName="publisher" appearance="outline">
				<mat-label>Publisher</mat-label>
				<input
					type="text"
					matInput
					[matAutocomplete]="auto"
					formControlName="name"
				>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let publisher of filteredPublisherOption | async" [value]="publisher.name">
						{{publisher.name}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Project</mat-label>
				<mat-select
					[compareWith]="projectCompare"
					formControlName="project"
				>
					<mat-option *ngFor="let project of projects" [value]="project">
						{{project.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-chip-list #chipList aria-label="Tag selection">
					<mat-chip *ngFor="let tag of sourceTags" [selectable]="selectable"
							  [removable]="removable" (removed)="remove(tag)">
						{{tag.name}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input placeholder="New tags"
						   [matChipInputFor]="chipList"
						   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						   [matChipInputAddOnBlur]="addOnBlur"
						   (matChipInputTokenEnd)="add($event)">
				</mat-chip-list>
			</mat-form-field>
		</div>
		<div mat-dialog-actions align="right">
			<button mat-button (click)="onNoClick()"
			type="button"
			>No Thanks</button>
			<!--		<button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>-->
			<button mat-button
					type="submit"
					[disabled]="sourceFormGroup.invalid"
			>Ok</button>
		</div>
	</div>
</form>
