<div class="mat-elevation-z8">
	<div style="float: right">
	</div>
	<table mat-table
		   [dataSource]="userList" multiTemplateDataRows matSort
		   class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">


			<th mat-header-cell *matHeaderCellDef
				mat-sort-header> {{newColumns[displayedColumns.indexOf(column)]}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>

		</ng-container>
		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns;"
			class="example-element-row">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
	</table>
	<!--	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>-->
	<!--	</mat-paginator>-->
</div>
