table {
	width: 100%;
	table-layout: fixed;
}

th, td {
	overflow: hidden;
	width: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mat-column-actions {
	//word-wrap: break-word;
	//white-space: unset;
	//flex: 0 0 10%;
	width: 10%;
	//overflow-wrap: break-word;
	//word-wrap: break-word;
	//
	//word-break: break-word;
	//
	//-ms-hyphens: auto;
	//-moz-hyphens: auto;
	//-webkit-hyphens: auto;
	//hyphens: auto;
}

.mat-column-select {
	width: 75px;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: rgba(0, 55, 255, 0.51);
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	min-width: 100px;
	border: 2px solid #181818;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: auto;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}

.example-chip-list {
	width: 100%;
}

//.mat-header-cell{
//	background: rgba(187, 187, 187, 0.29);
//	align-content: end;
//	size: 25px;
//}

//.mat-column-name{
//	background: #0b78fa;
//	size: 500px;
//	flex: 0 0 500px;
//}
