<div>
	<mat-form-field class="example-chip-list">
		<mat-chip-list #chipList aria-label="Tag selection">
			<mat-chip
				*ngFor="let tag of tags"
				[selectable]="selectable"
				[removable]="removable"
				(removed)="remove(tag)">
				{{tag}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<input
				placeholder="New tag..."
                #tagInput
				[matChipInputFor]="chipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				[matChipInputAddOnBlur]="addOnBlur"
				(keyup.enter)="add($event.target);tagInput.value=''"
				(keyup)="applyFilter($event.target.value)"
			>
			<button mat-button *ngIf="tagInput.value || tags.length > 0" matSuffix mat-icon-button aria-label="Clear"
					(click)="tags = [];tagInput.value=''; this.applyFilter('')">
				<mat-icon>close</mat-icon>
			</button>
		</mat-chip-list>
	</mat-form-field>
	<button style="float: right"
			mat-raised-button
			(click)="addRow()">
		Add row
	</button>
	<button style="float: right"
			mat-raised-button
			(click)="deleteRow()">
		Delete
	</button>
	<table mat-table class="mat-elevation-z8"
		   [dataSource]="dataSource" multiTemplateDataRows matSort
		   class="mat-elevation-z8"
	>
		<!-- Checkbox Column -->
		<!--		<ng-container matColumnDef="select">-->
		<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;">
			<div *ngIf="column === columnsToDisplay[0];">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
								  [checked]="selection.hasValue() && isAllSelectedOnCurrentPage()"
								  [indeterminate]="selection.hasValue() && !isAllSelectedOnCurrentPage()"
								  [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row"
					(mouseenter)="hoveredRow(row)"
					(mouseleave)="enteredRow=null">
					<mat-checkbox (click)="$event.stopPropagation()"
								  (change)="$event ? selection.toggle(row) : null"
								  [checked]="selection.isSelected(row)"
								  [aria-label]="checkboxLabel(row)"
					>
					</mat-checkbox>
				</td>
			</div>
			<div *ngIf="column === 'delete';">
				<th mat-header-cell *matHeaderCellDef>
					<button mat-icon-button aria-label="Example icon-button with a heart icon"
							[disabled]="!selection.hasValue()"
							(change)="$event ? masterToggle() : null"
							(click)="deleteRow()"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</th>
				<td mat-cell *matCellDef="let row"
					(mouseenter)="hoveredRow(row)"
					(mouseleave)="enteredRow=null"
				>
					<button mat-icon-button aria-label="Example icon-button with a heart icon"
							(click)="deleteRow(row)"
							[hidden]="IsdeleteIconHidden(row)"
							(change)="$event ? selection.toggle(row) : null"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</div>
			<div>
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
				<td mat-cell *matCellDef="let element" (mouseenter)="hoveredRow(element)"
					(mouseleave)="enteredRow=null"> {{element[column]}}</td>
			</div>
		</ng-container>

		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
				<div class="example-element-detail"
					 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<!--					<div class="example-element-diagram">-->
					<!--						<div class="example-element-position"> {{element.}} </div>-->
					<!--						<div class="example-element-symbol"> {{element.symbol}} </div>-->
					<!--						<div class="example-element-name"> {{element.name}} </div>-->
					<!--						<div class="example-element-weight"> {{element.weight}} </div>-->
					<!--					</div>-->
					<div class="example-element-description">
						<div>{{element.descreption}}</div>
						<div>City: {{element.city_id.name}}</div>
						<div>Country: {{element.city_id.country_id.name}}</div>
						<div>Country code: {{element.city_id.country_id.code}}</div>
					</div>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
		<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
			class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element"
		>
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
	</table>
	<mat-paginator (click)="paginatorOnClick()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
	</mat-paginator>
</div>
