<h1 mat-dialog-title>Source Rating</h1>
<div mat-dialog-content>
	<form class="form" (ngSubmit)="onSubmit()">
		<div>
			<ngb-rating [(rate)]="selected" resettable="true"></ngb-rating>
			<hr>
			<mat-form-field class="input" appearance="outline">
				<mat-label>Comment</mat-label>
				<label style="width: 100%">
					<textarea matInput type="text"
                              #element cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
							  cdkAutosizeMinRows="2"
							  cdkAutosizeMaxRows="5"></textarea>
				</label>
			</mat-form-field>
			<div mat-dialog-actions>
				<button mat-button type="button" (click)="onNoClick()">Cancel</button>
				<button mat-button type="submit" cdkFocusInitial [disabled]="selected<1">Submit</button>
			</div>
		</div>
	</form>
</div>
