<form [formGroup]="controlForm" (ngSubmit)="onSubmit();openSnackBar(message, 'OK')"
>
	<mat-grid-list cols="2" rowHeight="50px">
		<mat-grid-tile>
			<h1 style="position: absolute; left: 5px" *ngIf="!data.countryId" mat-dialog-title>Add new city</h1>
			<h1 style="position: absolute; left: 5px" *ngIf="data.countryId" mat-dialog-title>Edit city</h1>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-dialog-actions style="justify-content: flex-end;">
				<button mat-button type="Submit"
						[disabled]="!controlForm.valid">Submit
				</button>
				<button mat-button (click)="onNoClick()" type="button">Cancel</button>
			</mat-dialog-actions>
		</mat-grid-tile>
	</mat-grid-list>
	<div mat-dialog-content class="form-group">
		<div mat-dialog-content class="form-group">
			<p>How are you today?</p>
			<div *ngFor="let column of dataColumn" class="form-group">
				<div *ngIf="(column!=='country')">
					<mat-form-field style="width: 75%; " appearance="outline">
						<mat-label>{{column}}</mat-label>
						<input matInput [formControlName]="column">
					</mat-form-field>
				</div>

				<div *ngIf="column==='country'">
					<mat-form-field style="width: 75%;" appearance="outline">
						<mat-label>{{column}}</mat-label>
						<mat-select formControlName="countryId"
									[compareWith]="CompareCity" (selectionChange)="log()">
							<mat-option *ngFor="let city of allCountries" [value]="city">
								{{city.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
</form>


