<h1>Locations</h1>

<mat-tab-group>
	<mat-tab label="Cities">
		<city-sorting></city-sorting>
	</mat-tab>
	<mat-tab label="Countries">
		<country-sorting></country-sorting>
	</mat-tab>
</mat-tab-group>
